body {
    margin: 0;
    padding: 0;
    font-family: "Open Sans", sans-serif;
    color: #4f4f4f;
}

header {
    position: fixed;
    box-sizing: border-box;
    width: 100%;
    top: 0;
    border-bottom: 1px solid #000;
    background-color: #fff;
    z-index: 5;
    display: flex;
    justify-content: center;
}

.links {
    box-sizing: border-box;
    padding: 20px 20px;
    max-width: 1200px;
    width: 100%;
}

.links ul {
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin: 0;
}

.links ul li {
    font-size: 24px;
    display: inline-block;
    cursor: pointer;
}

.links ul li a {
    text-decoration: none;
    color: #4f4f4f;
}

.links-list {
    display: none;
}

.links-list span{
   width: 30px;
   height: 5px;
   margin-bottom: 3px;
   background-color: #000;
}

main {
    box-sizing: border-box;
    max-width: 1200px;
    padding: 0 20px;
    width: 100%;
    margin: auto;
    margin-top: 180px;
}
.b {
    display: flex;
}
.contant {
    width: 60%;
    margin-right: 5%;
}

.contant h1 {
    margin-top: 0;
    text-transform: uppercase;
    font-size: 68px;
    transition: all 1s ease-in-out;
}

.a {
    width: 35%;
}

.btn-block {
    display: flex;
    width: 100%;
    margin-bottom: 5px;
}

.btn-block span {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    padding-left: 20px;
    height: 80px;
    width: 100%;
    background-color: #e3e3e3;
    border-radius: 5px;
    text-transform: uppercase;
    font-size: 30px;
    color: #4f4f4f;
}

.btn-block a {
    background-color: #fff;
    border: none;
    margin-left: 5px;
}

.btn-block a img {
    width: 80px;
    height: 80px;
}

.head {
    box-sizing: border-box;
    font-size: 30px;
    font-weight: normal;
    margin: 0px auto;
    margin-top: 50px;
    max-width: 1200px;
    width: 100%;
    padding: 0 20px;
}

.my-works {
    display: flex;
    flex-wrap: wrap;
    max-width: 2200px;
    width: 100%;
    margin: 0 auto;
}

.card {
    box-sizing: border-box;
    position: relative;
    width: 33.3333%;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding: 20px;
    outline: 1px solid #000;
    transition: all 1s ease-in-out;
    color: #fff;
}

.card-1 {
    background-color: #b59f5b;
}

.card-2 {
    background-color: #005e00;
}

.card-3 {
    background-color: #091921;
}

.card-4 {
    background-color: #bebebe;
}

.card-5 {
    background-color: #78bec5;
}

.card-6 {
    background-color: #0e0033;
}

.card-7 {
    background-color: #b59f5b;
}

.card-8 {
    background-color: #b2c930;
}

.card:hover{
    background-color: #000;
}

.card:hover .logo {
    color: #e0f416;
    transition: all 1s ease-in-out;
}

.logo {
    color: #fff;
}

.name {
    position: absolute;
    left: 20px;
    top: 20px;
    background-color: #fff;
    color: #4f4f4f;
    padding: 10px 20px;
    border-radius: 20px;
    border: 1px solid #000;
    font-size: 18px;
    user-select: none; 
    z-index: 2;
    transition: all 0.5s ease-in-out;
    text-transform: uppercase;
}

.name:hover {
    background-color: #e0f416;
    color: #000;
}

.card a {
    position: absolute;
    top: 0px;
    height: 100%;
    width: 100%;
    z-index: 1;
}

.card h3 {
    position: absolute;
    box-sizing: border-box;
    margin: 0;
    top: 120px;
    text-transform: uppercase;
    font-size: 80px;
    z-index: 0;
    text-align: center;
    line-height: 1;
    padding: 20px;
    transition: all 1s ease-in-out;
}


.card-6 h3, .card-5 h3, .card-7 h3, .card-8 h3 {
    font-size: 60px;
}

.card h4 {
    margin: 0;
    font-size: 20px;
    font-weight: 100;
    transition: all 1s ease-in-out;
}
.email {
    box-sizing: border-box;
    font-size: 60px;
    font-weight: bold;
    margin: 80px auto;
    max-width: 1200px;
    width: 100%;
    padding: 0 20px; 
    text-align: center;
}
.email a {
    text-decoration: none;
    color: #4f4f4f;
}
footer {
    position: relative;
    bottom: 0;
}

@media(max-width: 1500px){
    .links {
        max-width: 1100px;
    }
    main {
        max-width: 1100px;
    }
    .card {
        width: 50%;
        height: 500px;
    }
    .contant {
        margin-right: 0;
    }
    .a {
        width: 40%;
    }
    .my-works {
        max-width: 1500px;
    }
    .card h3 {
        top: 160px;
    }

    .card h4 {
        font-size: 26px;
    }
    
}
@media(max-width: 1300px){
    .links {
        max-width: 1000px;
    }
    
    main {
        max-width: 1000px;
        display: flex;
        flex-direction: column;
    }
    .b {
        flex-direction: column; 
    }
    .contant {
        width: 100%;
        margin-right: 0;
    }

    .a {
        width: 100%;
    }

   .head {
        max-width: 1000px;
    }

    .my-works {
        max-width: 1300px;
    }

}

@media(max-width: 900px){
    .links {
        max-width: 900px;
        width: 100%;
        left: calc(50% - 300px);
    }

    main {
        max-width: 900px;
        width: 100%;
    }

    .contant h1{
        font-size: 64px;
    }

   .b {
    flex-direction: column;
   }

   .head {
        max-width: 600px;
    }
    
    .my-works {
        max-width: 900px;
        flex-direction: column
    }
    .card {
        width: 100%;
    }
}
@media(max-width: 640px){
    .links {
        display: none;
    }
    main {
        max-width: 640px;
    }
    .links-list {
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
        max-width: 640px;
        padding: 20px;
        width: 100%;
        align-items: flex-end;
    }
    .contant h1{
        font-size: 50px;
    }
    .name {
        left: 20px;
    }

    .card h3 {
        font-size: 48px;
    }
}